{% extends 'core/base.html' %}

{% block title %} Acerca de la pagina{% endblock %}

{% block background %}{% load static %}{% static 'core/imagen/about.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografia</span>
{% endblock %}

{% block content %} 
<div class="container">
    <div class="row">   
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="imag-fluid avatars" src="{% static 'core/imagen/avatars.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">LEON DENISSE</h2>   
        <p>Nacida en Ecuador, Manabi, Portoviejo, en el año de 1988, estudio ingenieria en ssistemas informaticos de la universidad tecnica de manabi</p>
      
      </div>
    </div>  
  </div>
</div>
{% endblock %}