{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/imagen/contacto.jpg' %}{% endblock %}

{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesorate</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Escribe a nuestro grupo de desarrolladores:<a href="@utm.edu.ec">denisleon2101@gmail.com</a></p>
        <br>
        <p><b>Teléfono:</b> 0998363426</p>
        <p><b>Honorarios:</b> $30/h (precio base)</p>
      </div>
    </div>
  </div>
{% endblock %}


